PAYMENT_PROVIDER=manual
IVNO_PAYMENT_LINK=
IVNO_PAYMENT_LINKS=
IVNO_PAYMENT_LINK_CARNE_SECA_LUMBRE_SPICY=
IVNO_PAYMENT_LINK_TIZON_FUEGO_POWDER=
IVNO_PAYMENT_LINK_CHAMOY_PICKLE=
IVNO_PAYMENT_LINK_GUSHERS_CHAMOY_CANDY=
IVNO_PAYMENT_LINK_MICHELADA_MIX_32_OZ=
IVNO_PAYMENT_LINK_MICHELADA_MIX_16_OZ=
IVNO_PAYMENT_LINK_PEACH_RING_CHAMOY_CANDY=
IVNO_PAYMENT_LINK_TAPATIO_HOT_PICKLE=
IVNO_PAYMENT_LINK_WATERMELON_CHAMOY_CANDY=
STRIPE_SECRET_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
SITE_URL=http://localhost:3000
