PAYMENT_PROVIDER=manual
IVNO_API_KEY=
IVNO_API_SECRET=
IVNO_DISPLAY_CURRENCY=USD
IVNO_CHECKOUT_COLOR=
IVNO_CHECKOUT_LOGO_URL=
STRIPE_SECRET_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
SITE_URL=http://localhost:3000
